---
import "./skills.css";
import nodeJs from "@assets/imgs/nodejs.png";
import React from "@assets/imgs/react.png";
import next from "@assets/imgs/nextjs.png";
import types from "@assets/imgs/type.png";
import pyhton from "@assets/imgs/python.svg";
import ia from "@assets/imgs/ia.png";
import go from "@assets/imgs/go2.png";
import cloud from "@assets/imgs/cloud.png";
import pgsql from "@assets/imgs/pgsql.png";
import flutter from "@assets/imgs/fluter.png";
---

<div
  class="bg-white w-full flex flex-col h-screen tablet:h-full mt-10 pt-20 px-10 tablet:px-0 items-center align-middle main-div-skill"
>
  <h1>Skills</h1>
  <div
    class="flex flex-row flex-wrap w-full justify-center items-center align-middle skills-container"
  >
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={React.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={nodeJs.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={next.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={types.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={pyhton.src} />
      <progress value=".9"></progress>
    </div>

    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={ia.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={cloud.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={go.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={pgsql.src} />
      <progress value=".9"></progress>
    </div>
    <div class="w-1/6 tablet:w-1/3 skill">
      <img src={flutter.src} />
      <progress value=".9"></progress>
    </div>
  </div>
</div>
